.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal__content {
  background: white;
  padding: 30px;
  border-radius: 20px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal__content input,
.modal__content textarea,
.modal__content select {
  padding: 14px 10px;
  border: var(--light-grey-color) 1px solid;
  border-radius: 10px;
}
